@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    background-color: azure;
    font-family: 'Quicksand', sans-serif;
    font-size: large;
    align-content: center;
    background-color: #e7e7e7;
    background-image: url('?file=wave.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.main {
    padding: 2%;
    margin: 0 auto;
    margin-top: 5%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: center;
    width: 75%;
    background-color: white;
}

.sponsor {
    padding: 2%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
    width: 75%;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(203, 95%, 77%, 0.315);
    width: 100%;
}

li.nav-item {
    margin: 0 10px;
}

li.nav-item a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

.article a {
    color: blue;
    text-decoration: none;
    margin-bottom: 15px;
}

li.nav-item a:hover {
    background-color: hsla(203, 95%, 77%, 0.61);
}

.text {
    padding-top: 50px;
    margin: auto;
    width: 90%;
    text-align: left;
    padding-left: 10px;
}

.button-teq {
    background-color: #d3d3d3;
    color: #fff;
    padding: 10px 100px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    transition: background-color 0.2s;
    margin-top: 20px;

}

.button-teq:hover {
    background-color: #838383;
}


form {
    text-align: left;
    padding: 20px;
}

form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

form input[type="text"],
form input[type="email"],
form textarea,
form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
}

form textarea {
    resize: vertical;
}


.article {
    margin: auto;
    margin-top: 10px;
    width: 90%;
    text-align: left;
    border-radius: 5px;
    border: 1px solid black;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: #f3f3f3;

}

form button {
    background-color: #d3d3d3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: large;
    font-weight: 600;
    transition: background-color 0.2s;
    margin-top: 20px;
}

form button:hover {
    background-color: #838383;
}

#sections textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    resize: vertical;
}

.article-button {
    border-width: 1px;
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    margin: 10px;
    cursor: pointer;
    font-size: 15px;
    font-family: Arial;
    width: 90%;
    border-color: #000000;
    /* Bordure de bouton de la même couleur que le texte */
    transition: 100ms;
    background: #fff;
    /* Fond de bouton blanc */
    color: #000000;
    /* Texte plus clair */
}

.article-button:hover {
    width: 95%;
    background: #f0f0f0;
    /* Fond de bouton légèrement plus foncé au survol */
}